<style>
  .share-wrapper{max-width:600px;margin:0 auto;}
  .share-wrapper ul{padding:0 20px;margin:0;display:flex;flex-wrap:wrap;}
  .share-wrapper ul li{margin:0 10px 10px 0}
  .share-wrapper span{height:32px;width:32px;display:block;border-radius:4px;}
  .share-wrapper span svg{width:32px;height:32px;}
  
  .share-wrapper .copy-link-btn{border:none;background:none;outline:none;padding:0;position:relative;}
  .share-wrapper .copy-link-btn .copied-badge{color:white;position: absolute;top: -130%;background: black;width: 60px;height: 32px;left: -50%;padding-top: 5px;transform: scale(0);transition: 0.3s;font-size:14px;}
  .share-wrapper .copy-link-btn .copied-badge::before{content:"";border: 5px solid transparent;bottom: -12px;border-bottom-width: 0;border-top-color: #333;font-size: .9em;position: absolute;left: 50%;transform: translate(-50%, -0.5em);}
  .share-wrapper .copy-link-btn .copied-badge.copied-success{transform:scale(1);}  
  
  
  .share-wrapper .share-copy_link{background: #0166ff;}
  .share-wrapper .share-linkedin{background:#007bb5;}
  .share-wrapper .share-facebook{background:#1877f2;}
  .share-wrapper .share-twitter{background:#1d9bf0;}
  .share-wrapper .share-pinterest{background:#bd081c;}
  .share-wrapper .share-mail{background:#0166ff;}
  .share-wrapper .share-tumblr{background:#35465c;}
  .share-wrapper .share-reddit{background:#ff4500;}
  .share-wrapper .share-whatsapp{background:#12af0a;}
  .share-wrapper .share-blogger{background:#fda352;}
  .share-wrapper .share-gmail{background:#dd5347;}
  .share-wrapper .share-massenger{background:#0084ff;}
  .share-wrapper .share-trello{background:#0079bf;}
}}
</style>
<div class="share-wrapper">
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="8bPLzlSL"></script>
  <textarea style="position:absolute;top:-100%;" id="url1"></textarea>
  

  <ul>

    <li>
      <button class="copy-link-btn" id="url" title="Copy Link">
        <span class="share-icon share-copy_link" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M24.412 21.177c0-.36-.126-.665-.377-.917l-2.804-2.804a1.235 1.235 0 00-.913-.378c-.377 0-.7.144-.97.43.026.028.11.11.255.25.144.14.24.236.29.29s.117.14.2.256c.087.117.146.232.177.344.03.112.046.236.046.37 0 .36-.126.666-.377.918a1.25 1.25 0 01-.918.377 1.4 1.4 0 01-.373-.047 1.062 1.062 0 01-.345-.175 2.268 2.268 0 01-.256-.2 6.815 6.815 0 01-.29-.29c-.14-.142-.223-.23-.25-.254-.297.28-.445.607-.445.984 0 .36.126.664.377.916l2.778 2.79c.243.243.548.364.917.364.36 0 .665-.118.917-.35l1.982-1.97c.252-.25.378-.55.378-.9zm-9.477-9.504c0-.36-.126-.665-.377-.917l-2.777-2.79a1.235 1.235 0 00-.913-.378c-.35 0-.656.12-.917.364L7.967 9.92c-.254.252-.38.553-.38.903 0 .36.126.665.38.917l2.802 2.804c.242.243.547.364.916.364.377 0 .7-.14.97-.418-.026-.027-.11-.11-.255-.25s-.24-.235-.29-.29a2.675 2.675 0 01-.2-.255 1.052 1.052 0 01-.176-.344 1.396 1.396 0 01-.047-.37c0-.36.126-.662.377-.914.252-.252.557-.377.917-.377.136 0 .26.015.37.046.114.03.23.09.346.175.117.085.202.153.256.2.054.05.15.148.29.29.14.146.222.23.25.258.294-.278.442-.606.442-.983zM27 21.177c0 1.078-.382 1.99-1.146 2.736l-1.982 1.968c-.745.75-1.658 1.12-2.736 1.12-1.087 0-2.004-.38-2.75-1.143l-2.777-2.79c-.75-.747-1.12-1.66-1.12-2.737 0-1.106.392-2.046 1.183-2.818l-1.186-1.185c-.774.79-1.708 1.186-2.805 1.186-1.078 0-1.995-.376-2.75-1.13l-2.803-2.81C5.377 12.82 5 11.903 5 10.826c0-1.08.382-1.993 1.146-2.738L8.128 6.12C8.873 5.372 9.785 5 10.864 5c1.087 0 2.004.382 2.75 1.146l2.777 2.79c.75.747 1.12 1.66 1.12 2.737 0 1.105-.392 2.045-1.183 2.817l1.186 1.186c.774-.79 1.708-1.186 2.805-1.186 1.078 0 1.995.377 2.75 1.132l2.804 2.804c.754.755 1.13 1.672 1.13 2.75z"></path></svg></span>
        <span class="copied-badge">Copied</span>
      </button>
    </li>
    
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ shop.url }}{{ article.url }}&title={{ article.title }}" target="_blank" title="LinkedIn">
        <span class="share-icon share-linkedin" ><svg viewBox="0 0 32 32"><path d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 010 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z" fill="#FFF"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="http://www.facebook.com/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank" title="Facebook">
        <span class="share-icon share-facebook" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ article.url }}&text={{ article.url }}&via=" target="_blank" title="Twitter">
        <span class="share-icon share-twitter"><svg viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 01-2.828.775 4.93 4.93 0 002.166-2.725 9.738 9.738 0 01-3.13 1.194 4.92 4.92 0 00-3.593-1.55 4.924 4.924 0 00-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 00-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 01-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 004.6 3.42 9.893 9.893 0 01-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 007.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&description={{ article.title }}" target="_blank" title="Pinterest">
        <span class="share-icon share-pinterest" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M16.539 4.5c-6.277 0-9.442 4.5-9.442 8.253 0 2.272.86 4.293 2.705 5.046.303.125.574.005.662-.33.061-.231.205-.816.27-1.06.088-.331.053-.447-.191-.736-.532-.627-.873-1.439-.873-2.591 0-3.338 2.498-6.327 6.505-6.327 3.548 0 5.497 2.168 5.497 5.062 0 3.81-1.686 7.025-4.188 7.025-1.382 0-2.416-1.142-2.085-2.545.397-1.674 1.166-3.48 1.166-4.689 0-1.081-.581-1.983-1.782-1.983-1.413 0-2.548 1.462-2.548 3.419 0 1.247.421 2.091.421 2.091l-1.699 7.199c-.505 2.137-.076 4.755-.039 5.019.021.158.223.196.314.077.13-.17 1.813-2.247 2.384-4.324.162-.587.929-3.631.929-3.631.46.876 1.801 1.646 3.227 1.646 4.247 0 7.128-3.871 7.128-9.053.003-3.918-3.317-7.568-8.361-7.568z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="mailto:info@caqa.com.au?subject={{ article.title }}" target="_blank" title="EMail">
        <span class="share-icon share-mail" ><svg iewBox="0 0 32 32"><path fill="#FFF" d="M26 21.25v-9s-9.1 6.35-9.984 6.68C15.144 18.616 6 12.25 6 12.25v9c0 1.25.266 1.5 1.5 1.5h17c1.266 0 1.5-.22 1.5-1.5zm-.015-10.765c0-.91-.265-1.235-1.485-1.235h-17c-1.255 0-1.5.39-1.5 1.3l.015.14s9.035 6.22 10 6.56c1.02-.395 9.985-6.7 9.985-6.7l-.015-.065z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ shop.url }}{{ article.url }}&title={{ article.title }}&caption=" target="_blank" title="Tumblr">
        <span class="share-icon share-tumblr" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M20.775 21.962c-.37.177-1.08.33-1.61.345-1.598.043-1.907-1.122-1.92-1.968v-6.217h4.007V11.1H17.26V6.02h-2.925s-.132.044-.144.15c-.17 1.556-.895 4.287-3.923 5.378v2.578h2.02v6.522c0 2.232 1.647 5.404 5.994 5.33 1.467-.025 3.096-.64 3.456-1.17l-.96-2.846z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://reddit.com/submit?url={{ shop.url }}{{ article.url }}&title={{ article.title }}" target="_blank" title="Reddit">
        <span class="share-icon share-reddit" ><svg viewBox="0 0 32 32"><path d="M28.543 15.774a2.953 2.953 0 00-2.951-2.949 2.882 2.882 0 00-1.9.713 14.075 14.075 0 00-6.85-2.044l1.38-4.349 3.768.884a2.452 2.452 0 10.24-1.176l-4.274-1a.6.6 0 00-.709.4l-1.659 5.224a14.314 14.314 0 00-7.316 2.029 2.908 2.908 0 00-1.872-.681 2.942 2.942 0 00-1.618 5.4 5.109 5.109 0 00-.062.765c0 4.158 5.037 7.541 11.229 7.541s11.22-3.383 11.22-7.541a5.2 5.2 0 00-.053-.706 2.963 2.963 0 001.427-2.51zm-18.008 1.88a1.753 1.753 0 011.73-1.74 1.73 1.73 0 011.709 1.74 1.709 1.709 0 01-1.709 1.711 1.733 1.733 0 01-1.73-1.711zm9.565 4.968a5.573 5.573 0 01-4.081 1.272h-.032a5.576 5.576 0 01-4.087-1.272.6.6 0 01.844-.854 4.5 4.5 0 003.238.927h.032a4.5 4.5 0 003.237-.927.6.6 0 11.844.854zm-.331-3.256a1.726 1.726 0 111.709-1.712 1.717 1.717 0 01-1.712 1.712z" fill="#fff"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="whatsapp://send?text={{ shop.url }}{{ article.url }}" target="_blank"title="Whatsapp">
        <span class="share-icon share-whatsapp" ><svg viewBox="0 0 32 32"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M16.21 4.41C9.973 4.41 4.917 9.465 4.917 15.7c0 2.134.592 4.13 1.62 5.832L4.5 27.59l6.25-2.002a11.241 11.241 0 005.46 1.404c6.234 0 11.29-5.055 11.29-11.29 0-6.237-5.056-11.292-11.29-11.292zm0 20.69c-1.91 0-3.69-.57-5.173-1.553l-3.61 1.156 1.173-3.49a9.345 9.345 0 01-1.79-5.512c0-5.18 4.217-9.4 9.4-9.4 5.183 0 9.397 4.22 9.397 9.4 0 5.188-4.214 9.4-9.398 9.4zm5.293-6.832c-.284-.155-1.673-.906-1.934-1.012-.265-.106-.455-.16-.658.12s-.78.91-.954 1.096c-.176.186-.345.203-.628.048-.282-.154-1.2-.494-2.264-1.517-.83-.795-1.373-1.76-1.53-2.055-.158-.295 0-.445.15-.584.134-.124.3-.326.45-.488.15-.163.203-.28.306-.47.104-.19.06-.36-.005-.506-.066-.147-.59-1.587-.81-2.173-.218-.586-.46-.498-.63-.505-.168-.007-.358-.038-.55-.045-.19-.007-.51.054-.78.332-.277.274-1.05.943-1.1 2.362-.055 1.418.926 2.826 1.064 3.023.137.2 1.874 3.272 4.76 4.537 2.888 1.264 2.9.878 3.43.85.53-.027 1.734-.633 2-1.297.266-.664.287-1.24.22-1.363-.07-.123-.26-.203-.54-.357z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://www.blogger.com/blog-this.g?u={{ shop.url }}{{ article.url }}&n={{ article.title }}&n={{ article.content }}" target="_blank" title="Blogger">
        <span class="share-icon share-blogger" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M25.793 14.325l-.166-.344-.277-.214c-.363-.284-2.2.02-2.695-.43-.352-.324-.404-.905-.51-1.69-.197-1.527-.322-1.606-.56-2.122-.866-1.836-3.214-3.217-4.825-3.408h-4.367c-3.436 0-6.244 2.814-6.242 6.248v7.29c0 3.428 2.81 6.238 6.248 6.238h7.174c3.436 0 6.225-2.81 6.244-6.237l.04-5.048-.06-.277zM12.47 11.22h3.464c.66 0 1.195.534 1.195 1.188 0 .653-.54 1.195-1.2 1.195h-3.46c-.66 0-1.194-.542-1.194-1.195 0-.654.535-1.19 1.195-1.19zm7.038 9.526H12.47c-.66 0-1.194-.54-1.194-1.188 0-.654.535-1.19 1.195-1.19h7.04c.655 0 1.19.536 1.19 1.19 0 .646-.535 1.188-1.19 1.188z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://mail.google.com/mail/?view=cm&to=%7Bemail_address%7D&su={{ article.title }}&body={{ shop.url }}{{ article.url }}&bcc=%7Bemail_address%7D&cc=%7Bemail_address%7D" target="_blank" title="GMail">
        <span class="share-icon share-gmail" ><svg viewBox="0 0 32 32"><path fill="#fff" opacity=".25" d="M4.958 6.569h22.338V25.43H4.958z"></path><path d="M28.709 7.321a1.7 1.7 0 00-1.409-.752h-.077l-1.1.8-.082.06-9.952 7.271L5.961 7.3l-1-.733H4.7A1.7 1.7 0 003 8.273v15.454a1.676 1.676 0 00.069.481A1.7 1.7 0 004.7 25.431h1.261V11.36l7.35 5.368 2.416 1.764.445.326 2.778-2.029 7.088-5.177v13.819H27.3a1.7 1.7 0 001.634-1.223 1.675 1.675 0 00.066-.481V8.273a1.7 1.7 0 00-.291-.952z" fill="#fff"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}&amp;src=sdkpreparse" target="_blank" title="FB Massenger">
        <span class="share-icon share-massenger" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M16 5C9.986 5 5.11 9.56 5.11 15.182c0 3.2 1.58 6.054 4.046 7.92V27l3.716-2.06c.99.276 2.04.425 3.128.425 6.014 0 10.89-4.56 10.89-10.183S22.013 5 16 5zm1.147 13.655L14.33 15.73l-5.423 3 5.946-6.31 2.816 2.925 5.42-3-5.946 6.31z"></path></svg></span>
      </a>
    </li>
    
    <li>
      <a href="https://trello.com/add-card?mode=popup&url={{ shop.url }}{{ article.url }}%2F&name={{ article.title }}&desc={{ article.content }}" target="_blank" title="Trello">
        <span class="share-icon share-trello" ><svg viewBox="0 0 32 32"><path fill="#FFF" d="M26.5 4h-21A1.5 1.5 0 004 5.5v21A1.5 1.5 0 005.5 28h21a1.5 1.5 0 001.5-1.5v-21A1.5 1.5 0 0026.5 4zM14.44 22.12c0 .825-.675 1.5-1.5 1.5H8.62c-.825 0-1.5-.675-1.5-1.5V8.62c0-.825.675-1.5 1.5-1.5h4.32c.825 0 1.5.675 1.5 1.5v13.5zm10.44-6c0 .825-.675 1.5-1.5 1.5h-4.32c-.825 0-1.5-.675-1.5-1.5v-7.5c0-.825.675-1.5 1.5-1.5h4.32c.825 0 1.5.675 1.5 1.5v7.5z"></path></svg></span>
      </a>
    </li>
    
  </ul>
</div>

<script type="text/javascript">
  
  $(document).ready(function(){
    var temp = $("#url1");
    var $url = $(location).attr('href');

    $('#url').on('click', function() {
      //   alert(window.location.href);
      $("#url1").val(window.location.href).select();
      document.execCommand("copy");
      $(this).children(".copied-badge").addClass("copied-success");
      remove_copied($(this));

    }); 

    function remove_copied(this1){
      setTimeout(function(this1){
        $('#url').children(".copied-badge").removeClass("copied-success");
      },1000);
    }
  });
</script>