<style>
  .image-banner-section .image-banner-main::before { opacity:0.{%- if section.settings.overlay_opa < 9 -%}0{%- endif -%}{{- section.settings.overlay_opa -}}; }
  
/* content position */ 
  .image-banner-section .image-banner-main .image-banner-content.center{ left:50%;transform:translate(-50%,-50%); }
  .image-banner-section .image-banner-main .image-banner-content.left{ left:0;transform:translateY(-50%); }
  .image-banner-section .image-banner-main .image-banner-content.right{ ;right:0;transform:translateY(-50%); }
  
   .section-content-{{ section.id }} .section-content { color:{{ section.settings.content_color }}; }
  
/*  heading  */
   {% if section.settings.head_color == true %}
  .section-content-{{ section.id }} .section-content .head { color:{{ section.settings.head_color1 }} }
  .section-content-{{ section.id }} .section-content .head.head-hover { color:{{ section.settings.head_color2 }} }
  {% endif %}
  
  {% if section.settings.head_back == true %}
  .section-content-{{ section.id }} .section-content .head { background:linear-gradient(180deg, #ffffff00 35%, {{ section.settings.head_back1 }} 35%);  }
  .section-content-{{ section.id }} .section-content .head.headback-hover { background:linear-gradient(180deg, #ffffff00 35%, {{ section.settings.head_back2 }} 35%);  }
  {% endif %}
  
  {% if section.settings.head_shadow == true %}
  .section-content-{{ section.id }} .section-content .head { text-shadow:4px 4px {{ section.settings.head_shadow1 }}  }
  .section-content-{{ section.id }} .section-content .head.headshadow-hover { text-shadow:4px 4px {{ section.settings.head_shadow2 }}   }
  @media (max-width:575px){
  	.section-content-{{ section.id }} .section-content .head { text-shadow:2px 2px {{ section.settings.head_shadow1 }}  }
  .section-content-{{ section.id }} .section-content .head.headshadow-hover { text-shadow:2px 2px {{ section.settings.head_shadow2 }}   }
  }
  
  {% endif %}

  
/* btns   */
  .section-content-{{ section.id }} .section-content .section-content-btns .btn { color:{{ section.settings.btn_text_color }} }
  .section-content-{{ section.id }} .section-content .section-content-btns .btn:hover { color:{{ section.settings.btn_hover_color }} }
  {% if section.settings.btn_back == true %}
  .section-content-{{ section.id }} .section-content .section-content-btns .btn { background: {{ section.settings.btn_back1 }}; }
  .section-content-{{ section.id }} .section-content .section-content-btns .btn.btnback-hover { background: {{ section.settings.btn_back2 }}; }
  {% endif %}
  
  {% if section.settings.btn_shadow == true %}
  .section-content-{{ section.id }} .section-content .section-content-btns .btn { box-shadow:8px 8px {{ section.settings.btn_shadow1 }}  }
  .section-content-{{ section.id }} .section-content .section-content-btns .btn.btnshadow-hover { box-shadow:8px 8px {{ section.settings.btn_shadow2 }}   }
  {% endif %}
 
</style>

<section class="image-banner-section mb50 section-content-{{ section.id }}" id="image-banner-{{ section.id }}">
  <div class="container">
    <div class="image-banner-main">
      <div class="row">
        
        {% if section.settings.img1 == blank and section.settings.img2 == blank and section.settings.img3 == blank%}
        <div class="col">
          <figure>
            <img src="{{ 'banner.png' | asset_url }}" alt="Banner" >
          </figure>
        </div>
        {% endif %}
        
        {% if section.settings.img1 != blank %}
        <div class="col">
          <figure>
            <img src="{{ section.settings.img1 | img_url:"1920x1000" }}" alt="{{ section.settings.img1.alt }}" >
          </figure>
        </div>
        {% endif %}
        {% if section.settings.img2 != blank %}
        <div class="col">
          <figure>
            <img src="{{ section.settings.img2 | img_url:"1920x1920" }}" alt="{{ section.settings.img2.alt }}" >
          </figure>
        </div>
        {% endif %}
        {% if section.settings.img3 != blank %}
        <div class="col">
          <figure>
            <img src="{{ section.settings.img3 | img_url:"1920x1000" }}" alt="{{ section.settings.img3.alt }}" >
          </figure>
        </div>
        {% endif %}
        
        
        <div class="col mobile">
          <figure>
            {% if section.settings.imgmobile != blank %}
            	<img src="{{ section.settings.imgmobile | img_url:"1920x1000" }}" alt="{{ section.settings.imgmobile.alt }}" >
            {% elsif section.settings.img1 != blank %}
            <img src="{{ section.settings.img1 | img_url:"1920x1000" }}" alt="{{ section.settings.img1.alt }}" >
            {% elsif section.settings.img2 != blank %}
            <img src="{{ section.settings.img2 | img_url:"1920x1000" }}" alt="{{ section.settings.img2.alt }}" >
            {% elsif section.settings.img3 != blank %}
            <img src="{{ section.settings.img3 | img_url:"1920x1000" }}" alt="{{ section.settings.img3.alt }}" >
            {% else %}
            <img src="{{ 'banner.png' | asset_url }}" alt="Banner" >
            {% endif %}
          </figure>
        </div>
        
        
        
      </div>
      
   
      <div class="image-banner-content {{ section.settings.content_position }}">
         {% render 'section-content' %}
           {% comment %}
        {% if section.settings.sub_head != blank %}
        <h5 class="sub-head">
          {{ section.settings.sub_head }}
        </h5>
        {% endif %}
        
        {% if section.settings.head != blank %}
        <h1 class="head">
          {{ section.settings.head }}
        </h1>
        {% endif %}
        
        {% if section.settings.content != blank %}
        <div class="content">
          {{ section.settings.content }}
        </div>
        {% endif %}
        
        {% if section.settings.btn1 != blank and section.settings.btn1_link != blank or section.settings.btn2 != blank and section.settings.btn2_link != blank %}
        <div class="about-banner-btns">
          {% if section.settings.btn1 != blank and section.settings.btn1_link != blank %}
          <a class="btn" href="{{ section.settings.btn1_link }}">
            {{ section.settings.btn1 }}
          </a>
          {% endif %}
          
          {% if section.settings.btn2 != blank and section.settings.btn2_link != blank %}
          <a class="btn" href="{{ section.settings.btn2_link }}">
            {{ section.settings.btn2 }}
          </a>
          {% endif %}
        </div>
        {% endif %}
           {% endcomment %}
      </div>
    </div>
  </div>
</section>

{{ 'theme.js' | asset_url | script_tag }}
{{ 'jquery-ui.js' | asset_url | script_tag }}
<script>
  $(document).ready(function(){
  	{% if section.settings.head_color == true %}
    setInterval(function() {
      $('.section-content-{{ section.id }} .section-content .head').addClass("head-hover");
      setTimeout(function(){
        $('.section-content-{{ section.id }} .section-content .head').removeClass("head-hover");
      },1000);
    },2000);
    {% endif %}
    
    {% if section.settings.head_back == true %}
    setInterval(function() {
      $('.section-content-{{ section.id }} .section-content .head').addClass("headback-hover");
      setTimeout(function(){
        $('.section-content-{{ section.id }} .section-content .head').removeClass("headback-hover");
      },1250);
    },2500);
    {% endif %}
    
      {% if section.settings.head_shadow == true %}
    setInterval(function() {
      $('.section-content-{{ section.id }} .section-content .head').addClass("headshadow-hover");
      setTimeout(function(){
        $('.section-content-{{ section.id }} .section-content .head').removeClass("headshadow-hover");
      },1000);
    },2000);
    {% endif %}
    
    //btns
    {% if section.settings.btn_back == true %}
    setInterval(function() {
      $('.section-content-{{ section.id }} .section-content-btns .btn').addClass("btnback-hover");
      setTimeout(function(){
        $('.section-content-{{ section.id }} .section-content-btns .btn').removeClass("btnback-hover");
      },1250);
    },2500);
    {% endif %}
    
    {% if section.settings.btn_shadow == true %}
    setInterval(function() {
      $('.section-content-{{ section.id }} .section-content-btns .btn').addClass("btnshadow-hover");
      setTimeout(function(){
        $('.section-content-{{ section.id }} .section-content-btns .btn').removeClass("btnshadow-hover");
      },1000);
    },2000);
    {% endif %}
    
  });
</script>

{% schema %}
 {
    "name": "Image Banner",
    "settings": [
        {
            "type":"header",
            "content":"Background Images"
        },
        {
            "type": "image_picker",
            "id": "img1",
            "label": "First Image"
        },
        {
            "type": "image_picker",
            "id": "img2",
            "label": "Second Image"
        },
        {
            "type": "image_picker",
            "id": "img3",
            "label": "Third Image"
        },
 		{
            "type": "image_picker",
            "id": "imgmobile",
            "label": "Image for Mobile",
			"info":"Image not select then Select Desktop Image Default"
        },
        {
            "type": "range",
            "id": "overlay_opa",
            "min": 0,
            "max": 99,
            "step": 1,
            "unit": "%",
            "label": "Image Overlay Opacity",
            "default": 30
        },
        {
            "type": "header",
            "content": "Headings and Content"
        },
        {
            "type": "color",
            "id": "content_color",
            "label": "Text Color",
            "default": "#000"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content Block Position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
            "type": "header",
            "content": "Heading"
        },
        {
            "type": "text",
            "id": "head",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "checkbox",
            "id": "head_color",
            "label": "Heading Hover Over",
            "default": false
        },
        {
            "type": "color",
            "id": "head_color1",
            "label": "Heading Color1",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "head_color2",
            "label": "Heading Color2",
            "default": "#000"
        },
        {
            "type": "checkbox",
            "id": "head_back",
            "label": "Heading Background Hover Over",
            "default": false
        },
        {
            "type": "color",
            "id": "head_back1",
            "label": "Heading Background Color1",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "head_back2",
            "label": "Heading Background Color2",
            "default": "#000"
        },
        {
            "type": "checkbox",
            "id": "head_shadow",
            "label": "Heading Shadow Hover Over",
            "default": false
        },
        {
            "type": "color",
            "id": "head_shadow1",
            "label": "Heading Shadow Color1",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "head_shadow2",
            "label": "Heading Shadow Color2",
            "default": "#000"
        },
        {
            "type": "text",
            "id": "sub_head",
            "label": "Sub Heading",
            "default": "Sub Heading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "Buttons"
        },
        {
            "type": "text",
            "id": "btn1",
            "label": "First Button Name"
        },
        {
            "type": "url",
            "id": "btn1_link",
            "label": "First Button Link"
        },
        {
            "type": "text",
            "id": "btn2",
            "label": "Second Button Name"
        },
        {
            "type": "url",
            "id": "btn2_link",
            "label": "Second Button Link"
        },
        {
            "type": "color",
            "id": "btn_text_color",
            "label": "Text Color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "btn_hover_color",
            "label": "Text Color on Hover",
            "default": "#000"
        },
        {
            "type": "checkbox",
            "id": "btn_back",
            "label": "Button Background Hover Over",
            "default": false
        },
        {
            "type": "color",
            "id": "btn_back1",
            "label": "Button Background Color1",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "btn_back2",
            "label": "Button Background Color2",
            "default": "#ffffff"
        },
        {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Button Shadow Hover Over",
            "default": false
        },
        {
            "type": "color",
            "id": "btn_shadow1",
            "label": "Button Shadow Color1",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "btn_shadow2",
            "label": "Button Shadow Color2",
            "default": "#000"
        }
    ],
    "presets": [{
        "name": "Image Banner"
    }]
}
{% endschema %}


