<header class="password-page_header" role="banner">
  <h1 class="password-page_header_inner" itemscope itemtype="http://schema.org/Organization">
    {% assign logo_width = section.settings.logo_max_width %}
    {% if section.settings.logo != blank and logo_width <= 2048 %}
      {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
      <img class="logo" style="width: {{ section.settings.logo_max_width | append: 'px'}};" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
    {% else %}
      <h2>{{ shop.name }}</h2>
    {% endif %}
  </h1>
</header>


{% schema %}
{
  "name": "Header",
  "class": "password-header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 200,
      "unit": "px"
    }
  ]
}
{% endschema %}
