<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <!-- ========================== Favicon ======================== -->
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <!-- ========================== End Favicon ======================== -->

    <!-- ========================== Shop Title ======================== -->
    {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>
      {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
    </title>
    <!-- ========================== Shop Description ======================== -->
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <!-- ========================== End Shop Title & Description ======================== -->

    <!-- ========================= Social meta ========================= -->
    {%- assign og_title = page_title | default: shop.name -%}
    {%- assign og_url = canonical_url | default: shop.url -%}
    {%- assign og_type = 'website' -%}
    {%- assign og_description = page_description | default: shop.description | default: shop.name -%}
    {% if request.page_type == 'product' %}
    {%- assign og_type = 'product' -%}
    {% elsif request.page_type == 'article' %}
    {%- assign og_type = 'article' -%}
    {% elsif request.page_type == 'collection' %}
    {%- assign og_type = 'product.group' -%}
    {% elsif request.page_type == 'password' %}
    {%- assign og_url = shop.url -%}
    {% endif %}
    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:description" content="{{ og_description }}">
    {%- if page_image -%}
    <meta property="og:image" content="http:{{ page_image | img_url: 'master' }}">
    <meta property="og:image:secure_url" content="https:{{ page_image | img_url: 'master' }}">
    <meta property="og:image:width" content="{{ page_image.width }}">
    <meta property="og:image:height" content="{{ page_image.height }}">
    {%- endif -%}
    {% if request.page_type == 'product' %}
    <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
    <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
    {% endif %}
    {% unless settings.social_twitter_link == blank %}
    <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
    {% endunless %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ og_description }}">    
    <!-- ========================= // Social meta ========================= -->

    <!-- ========================= // Font & variables ========================= -->
    <link href="https://fonts.googleapis.com/css?family={{ settings.type_header_font }}:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family={{ settings.type_base_font }}:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    {% include 'all_css' %}    
    <!-- ========================= // End Font & variables ========================= -->

    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
    {% include 'all_js' %}
  </body>
</html>
